<div id="<%= dom_id playlist %>">
  <p>
    <strong>Url:</strong>
    <%= playlist.url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= playlist.title %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= playlist.channel %>
  </p>

</div>
