<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div id="playlists">
  <table>
    <tr>
      <th>Channel</th>
      <th>Playlist</th>
      <th>Videos</th>
    </tr>
    <% @playlists.each do |playlist| %>
      <tr>
        <%= render playlist %>
        <td><%= link_to "Show playlist", playlist %></td>
      </tr>
    <% end %>
</div>

<%= link_to "New playlist", new_playlist_path %>
