<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div id="playlists">
  <table>
    <tr>
      <th>Channel</th>
      <th>Playlist</th>
      <th>Videos</th>
    </tr>
    <% @playlists.each do |playlist| %>
      <tr>
        <%= render playlist %>
        <td><%= link_to "Show playlist", playlist %></td>
      </tr>
    <% end %>
</div>

<p><%= link_to "New playlist", new_playlist_path %></p>

<iframe width="1280" height="720" src="http://mac-mini---xi.local:32400/web/index.html#!/media/56f69e1c3393c7ac50adb00010da504d5b235b45/com.plexapp.plugins.library?source=9&key=%2Flibrary%2Fsections%2F9%2Fall%3Ftype%3D1%26sort%3DaddedAt%26unwatched%3D1"></iframe>

